.avatarImg{
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    border-radius: 44px;
    margin-top: -40px;
}
ion-button{
    --border-radius: 20px;
    // --background: "light";
}